.storage/
.cloud/
.vscode/
blueprints/
ip_bans.yaml
secrets.yaml
known_devices.yaml
googleassistant_serviceaccount.json
includes/googleassistant_serviceaccount.json.backup
includes/googleassistant_serviceaccount.json
.google.token
.spotify-token-cache
.sonoff.json
home-assistant_v2.db*
*.log
*.log.*
*.lock
.HA_VERSION
*.db
*backup*
state.json

# remove zigbee2mqtt configs as no proper separation of secrets is possible
zigbee2mqtt/*


# Ignore Python cache files
__pycache__/
